@media(min-width:768px) {

    /* product card */
    .product-card {
        width: 23vw;
    }

    .price-container {
        font-size: var(--p-desktop);
    }

    button {
        font-size: var(--p-desktop)
    }

    .heart-icon {
        font-size: var(--p-desktop);
    }
}