/* product category */
.product-category {
    border-radius: var(--border-xl);
    box-shadow: 0 1px 8px 4px #cbbdbd;
    width: 34vw;
    height: 34vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

/* product category on hover */
.product-category:hover{
    transform: scale(1.05);
}

/* product category p */
.product-category p{
    font-size: var(--p-mobile);
    font-weight: var(--bold);
    align-self: center;
}
