/* hero */
.hero-container {
  position: relative;
}

/* hero bg */
.hero-container .hero-image-container {
  background-image: url("../../assets/HeroImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 86vh;
}

/* hero description */
.hero-container .description {
  position: absolute;
  top: 16rem;
  left: 2rem;
  z-index: 1
}

/* hero description span */
.hero-container .description span {
  display: block;
}

/* hero description h1 */
.hero-container .description h1 {
  color: var(--secondary-color);
  font-size: var(--h1-mobile);
}

/* hero description button */
.hero-container .description .link {
  text-decoration: none;
  border: none;
  border-radius: var(--border-sm);
  padding: 0.5rem 1rem;
  font-size: var(--p-mobile);
  font-weight: var(--semi-bold);
  cursor: pointer;
  margin-top: 3rem;
  background-color: black;
  color: var(--secondary-color);
  display: inline-block;
}

/* hero description button on hover */
.hero-container .description .link:hover {
  background-color: var(--primary-button-hover-color);
}

/* hero overlay */
.overlay {
  background: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 86vh
}

/* categories */
.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}

/* categories container h1 */
.categories-container h1 {
  font-size: var(--h1-mobile);
}

/* category */
.categories-container .category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}




/* product category */
.product-category {
  border-radius: var(--border-xl);
  box-shadow: 0 1px 8px 4px #cbbdbd;
  width: 34vw;
  height: 34vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

/* product category on hover */
.product-category:hover {
  transform: scale(1.05);
}

/* product category p */
.product-category p {
  font-size: var(--p-mobile);
  font-weight: var(--bold);
  align-self: center;
}



/* footer container */
.footer-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 5rem;
}

/* all a tags */
.footer-container a {
  text-decoration: none;
  color: var(--secondary-color)
}

/* all a tags on hover */
.footer-container a:hover {
  color: var(--hover-color)
}

/* 1st section */
.footer-container .description {
  font-weight: var(--semi-bold);
  font-size: var(--p-mobile);
}

.footer-container .description::before {
  content: "\00a9";
  padding-right: 0.5rem;
}

/* 2nd section */
.footer-container .social-media {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}