@media (min-width: 768px) {
    .nav-container {
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .input-container {
        align-self: center;
        padding: 0.5rem;
        width: 40vw;
        border-radius: var(--border-lg);
        background-color: var(--secondary-color);
        display: flex;
    }

    .search-icon {
        margin-right: 1rem;
    }

    .input-container input {
        outline: none;
        border: none;
        width: 100%;
        color: var(--primary-color)
    }

    .action-items {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 0 3rem;
    }

    .action-items button {
        padding: 0.5rem 2rem;
    }

    .icon {
        color: var(--secondary-color);
        font-size: 1.5rem;
    }

    .icon:hover {
        cursor: pointer;
        color: var(--hover-color);
    }
}