@media (min-width: 768px) {
  .mobile-nav-container {
    display: none;
  }
  .nav-items{
    display: none;
  }

  .nav-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .input-container {
    align-self: center;
    padding: 0.5rem;
    width: 40vw;
    border-radius: var(--border-lg);
    background-color: var(--secondary-color);
    display: flex;
  }

  .search-icon {
    margin-right: 1rem;
  }

  .input-container input {
    outline: none;
    border: none;
    width: 100%;
    color: var(--primary-color);
  }

  .action-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
  }

  .action-items .link {
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: var(--border-sm);
    font-weight: var(--semi-bold);
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }

  .icon {
    color: var(--secondary-color);
  }
  .icon:hover {
    color: var(--hover-color);
}

  .action-items .link:hover {
    background-color: var(--hover-color);
  }
}
