.nav-container {
    display: none;
}

/* mobile-nav-container */
.mobile-nav-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

/* image container */
.image-container {
    margin-left: -5rem;
}

/* hamburger menu */
.hamburger {
    align-self: center;
    cursor: pointer;
}

/* hamburger menu when toggled to cross */
.hamburger .cross {
    color: var(--secondary-color);
}

.hamburger .cross:hover {
    color: var(--hover-color);
}

/* hamburger dashes */
.hamburger .bar {
    display: block;
    background-color: var(--secondary-color);
    width: 25px;
    height: 3px;
    margin: 5px auto;
}

/* for display none */
.none {
    display: none;
}

/* nav items when hamburger selected container */
.nav-items-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25vw;
    margin: 4rem auto;
    position: fixed;
    right: 0;
    left: 0;
}

/* nav items */
.nav-items-container .nav-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

/* nav items on hover */
.nav-items-container .nav-items:hover {
    background-color: var(--hover-color);
    background-color: var(--hover-color);
    border-radius: var(--border-xs);
}

/* nav items icons */
.icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* nav items link*/
.link {
    text-decoration: none;
    color: var(--primary-color);
}
