@media(min-width:1024px) {

    /* product main layout */
    .product-container {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .product-card-container {
        flex-direction: row;
    }

    /* product card */
    .product-card {
        width: 23vw;
    }

    .price-container {
        font-size: var(--p-desktop);
    }

    .primary-button {
        font-size: var(--p-desktop)
    }

    .product-card .heart-icon {
        font-size: var(--p-desktop);
    }

    /* Product detail card */
    .product-detail-card {
        width: 50vw;
        flex-direction: row;
    }

    .product-detail-card .product-name {
        font-size: var(--h2-mobile);

    }

    .product-detail-card .description {
        font-size: var(--p-desktop);
    }


}