*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #151515;
  --secondary-color: #FFFFFF;
  --hover-color: #D1D5DB;
  
  --light-font: 300;
  --regular-font: 400;
  --semi-bold: 600;
  --bold: 700;
  --black: 900;

  --border-xs: 5px;
  --border-sm: 10px;
  --border-md: 20px;
  --border-lg: 30px;
  --border-xl: 999px;

  --p-desktop: 1.25rem;
  --p-tab: 1.125rem;
  --p-mobile: 1rem;
}